.page-link {
  &.dark {
    color: #fff;
    background-color: #343a40;
  }
}

.page-item {
  &.disabled {
    cursor: not-allowed;
    .dark {
      color: #c5c4c4;
      background-color: #6f6f6f;
    }
  }
}
