.option-active {
  background-color: rgba(0, 123, 255, 0.25);
}

.cus-text-light {
  color: #343a40 !important;
}

.btn-light {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.cus-text-dark {
  color: #f8f9fa !important;
}

.dark {
  background-color: #282c34;
}

.light {
  background-color: #fff;
}
